<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection,Prism.Wpf"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SpeechKey" value="2d3a5f8509ba4b22b9885746879c5c3e"/>
    <add key="LuisSubscriptionID" value="6b825830de3f439ba068974cdee85c09" />
    <add key="UIOperationLuisAppID" value="e1ff25ee-e7e9-4e4a-b9a3-378edb09c89b" />
    <add key="MessageApplicationLuisAppID" value="17ff45c5-4947-46ce-8136-48876ebee2cc" />
    <add key="IncidentApplicationLuisAppID" value="5536279f-48b4-41ca-8f0f-e27a9d3d0150"/>
    <add key="AuthenticationUri" value="" />
  </appSettings>
  <modules>
    <module assemblyFile="ROTK.VoiceAssistant.Messaging.dll" moduleType="ROTK.VoiceAssistant.Messaging.MessagingModule, ROTK.VoiceAssistant.Messaging, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="MessagingModule" startupLoaded="true" />
    <module assemblyFile="ROTK.VoiceAssistant.Incident.dll" moduleType="ROTK.VoiceAssistant.Incident.IncidentModule, ROTK.VoiceAssistant.Incident, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="IncidentModule" startupLoaded="true" />
    <module assemblyFile="ROTK.VoiceAssistant.Navigation.dll" moduleType="ROTK.VoiceAssistant.Navigation.NavigationModule, ROTK.VoiceAssistant.Navigation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="NavigationModule" startupLoaded="true" />
    <module assemblyFile="ROTK.VoiceAssistant.Log.dll" moduleType="ROTK.VoiceAssistant.Navigation.LogModule, ROTK.VoiceAssistant.Log, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="LogModule" startupLoaded="true" />
  </modules>
</configuration>